*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.logo img {
    width: 60px;
    object-fit: cover;
}

.nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
}

.search {
    width: 400px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8cc;
    border-radius: 6px;
}

.search input {
    width: 85%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 1rem;
}

.btn{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn.login{
    border: 1px solid #333;
    background: transparent;
    color: #333;
}

.btn.wallet {
    background: #000;
    color: #fff;
    border: none;
}

.img-container{
    width: 50%;
    object-fit: cover;
}

.img-container img{
    width: 100%;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    background: #f9f9f9;
}

.hero {
  padding: 60px 40px;
  background: #f9f9f9;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  max-width: 500px;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.btnst {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn-black {
  background: #000;
  color: #fff;
  border: none;
}

.btn-outline {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  object-fit: cover;
}

.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  background-color: white;
  flex-wrap: wrap;
  gap: 1rem;
}

.featured-text {
  max-width: 80%;
}

.featured-text h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.featured-text p {
  font-size: 1rem;
  color: #555;
  max-width: 700px;
}


.view-all {
  padding: 8px 16px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  height: fit-content;
}

.collection-card{
  width: 250px;
  border-radius: 4px;
}
.collection-card img{
  width: 100% ;
  border-radius: 4px;
}


.view-btn{
  width: 100%;
  border-radius: 4px;
}

.collection-image{
  border-radius: 4px;
}
